body {
  padding: 0;
  margin : auto 0;
}
.Disc{
    height :auto;
    background-color: black;
    margin:0%;
    padding: 0%;
    display: flex;
}
.Disc div{
    color:#ffffff;
    width: auto;
    font-size: 1.75rem;
    height: auto;
    font-weight: bold;
    padding: 1% ;
    flex:1;
    display: flex;
    justify-content: center;
}
.Disc i{
    align-self: right;
    color: white;
    width: auto;
    text-align: center;
    padding: 1%;
    font-size: 2rem;
}

.container {
  background-color: white;
 
  margin: 5vh 2vw;
  
  display: flex;
  flex: 1:1;
}

.add_edit_part{
    display: flex;
    flex-direction: column;
    flex:1;
    max-width: 40%;
}
.grocery_list_part{
    display: flex;
    flex-direction: column;
    flex:1;
    max-width: 60% ;
}
.first{
  background-color: #800080;
  margin: 3% auto;
}
.second{
  margin: 2% auto;
  background-color: #4b4b4b;

}
.title {
  width: auto;
  padding: 1% 2%;
  margin-bottom: 0%;
  font-size: 1.5rem;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  border-radius: 0.75vw;
}

.form_item {
  background-color: #c284e1;
  margin: 3% auto;
  width: 90%;
  padding: 2% 2%;
  display: flex;
  border: 1px solid #8a2db9;
  border-radius: 1vw;
  flex-direction: column;
}
label {
  margin-top: 1%;
  font-size: 1.25rem;
}
#item_name {
  margin-top: 1%;
  width: 90%;
  padding: 1% 1%;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border-color: blue;
}

#item_quantity {
  margin-top: 1%;
  width: 30%;
  padding: 1% 1%;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border-color: blue;
}
#add_edit_button {
  margin-right: 10%;
  padding: 1% 1.5%;
  width: auto;
  height: auto;
  font-size: 1.25rem;
  align-self: flex-end;
  color: white;
  border-color: white;
  border-radius: 0.7vw;
  background-color: #800080;
}

.grocery_list {
  margin: 2% auto;
  width: 95%;
  max-height: 65vh;
  padding: 1% 0 ;
  overflow: auto;
  border: 1px solid black;
  border-radius: 1vw;
  background-color: black;
}
.list_item {
  display: flex;
  margin: 2% 2%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
.list_item_discription {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: #4b4b4b;
  border-radius: 1vw ;
  padding: 1% 1%;
  color: white;
  overflow: hidden;
  height: fit-content;
  align-items: center;
}
.list_item_name {
  flex: 1;
  padding: auto 1%!important;
  font-size: 1.5rem;
  margin-left: 1% auto;
  display: flex;
  word-break: break-all;
  height: auto;
}
.sign{
    font-size: large;
    margin: 1% 1%;
}
.list_item_quantity {
  margin : auto 1%;
  font-size: 1.25rem;
}
.edit {
  padding: 1% 1%;
  width: 3%;
  font-size: larger;
  color: white;
  background-color: black;
}
.delete {
  padding: 1% 1%;
  width: 3%;
  font-size: larger;
  color: white;
  background-color: black;
}


@media only screen and (max-width: 1100px){

.container {
margin: 3vw auto;
flex-direction: column;
flex: 1:1;
}

.add_edit_part{
    max-width: 95vw;
    margin: auto 1vw;
    flex: none;
}
.grocery_list_part{
    max-width: 95vw;
    margin: auto 1vw;
    flex:1;
}
.title {
    width: auto;
    margin: 1% auto;
    font-size: 1.25rem;
    margin-bottom: 0;
    border-radius: 2vw;
}
.grocery_list {
    max-height: 65vh;
 }

 @media only screen and (max-width :600px){
  
.sign{
  font-size: small;
}
.edit{
  font-size: small;
}
.delete{
  font-size: small;
}
 }

}